/* Estilo para as setas de ordenação componente tabela  */
/* Demais estilos da tabela são definidos no(s) documento(s) de definição da interface */
.table-sort{
	display:inline-block;
	width: 7px;
	position: absolute;
	padding-left: 4px;
	padding-top: 1px;
	margin-top: -8px;
}

.table-sort i{
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin: -1px 10px 0 0;
	width: 0;
	height: 12px;
}

.table-sort-up{	
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #FFF;
}

.table-sort-down{
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #FFF;
}